.LogoBackground {
    position: absolute;
    left:0;
    right:0;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    transition-property: 'background-color';
    transition-duration: 1s;
}

.LogoBackground.On{
    position: absolute;
    left:0;
    right:0;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    filter: blur(2px) opacity(90%);
    transition-property: 'background-color';
    transition-duration: 1s;
}

.LogoButton:hover .LogoBackground{
    background-color: #ffffff;
    filter: blur(2px) opacity(90%);
}

.LogoButton:hover {
    cursor: pointer;
}

.LogoButton {
    position: relative; 
    width:250px;
    height:100px;
    padding-top: 10px;
}