.APIDocMainPage{

}

.APIDocLeftArea{
    width: 15%;
    height: 100vh;
    background-color: antiquewhite;
}

.APIDocLeftAreaMainOption{

}

.APIDocLeftAreaMinorOption{

}

.APIDocRightArea{
    width: 85%;
    height: 100vh;
}

.APIDocRightAreaMainOption{
    border-top: 1px solid #cccccc;
    margin: 50px;
}

.APIDocRightAreaMainOptionTitle {
    text-align: left;
    font-size: 25px;
    margin-top: 20px;
}

.APIDocRightAreaMainOptionText {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    color:gray
}

.APIDocRightAreaMinorOption{
    text-align: left;
    margin-top: 50px;
    
}

.APIDocMainTitle{
    margin-top: 50px;
    font-size: 40px;
}

.APIDocText{
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 50px;
}

.APIDocRightAreaMinorOptionTitle{
    text-align: left;
    font-size: 22px;
    margin-top: 20px;
}

.APIDocRightAreaMinorOptionText{
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    color:gray
}

.APIDocAddressLine{
    margin: 20px;
    background: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.APIDocTable{
    margin-top: 20px;
    margin-bottom: 20px;
}

.APIDocRightAreaTableTitle {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.APIDocRightAreaTableText{
    margin-top: 40px;
    margin-bottom: 20px;
}

.APIDocTableHeadTH {
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
}

.APIDocTableBodyTD {
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    color: gray;
}

code {
    color: red;
}
