.ResultListMainBody{
    display: flex;
    font-family: "Microsoft JhengHei";
    margin: 10px;
    background: #ffffff8c;
}

.ResultListInfoArea{
    background-color: aliceblue;
    display: flex;
    margin: 20px 10px 10px 10px;
}

.ResultListInfoAreaRow{
    display: flex;
    width:25%
}

.ResultListInfoAreaRowTitle{
    width:50%;
    margin: 10px;
}

.ResultListInfoAreaRowContent{
    width: 50%;
    margin: 10px;
    font-weight: bolder;
    text-align: left;
}

.ResultListLeftArea{
    width: 20%
}

.ResultListRightArea{
    width: 80%
}

.ResultListInfoAreaRowParent{
    display: flex;
}

.MetaInfoArea {
    height: 0px;
    margin: 20px 20px 50px 20px;
    /*
    background-color: burlywood;
    border-radius: 10px;
    
    */
    transition: height 1s;
}

.MetaInfoArea.Expand {
    height: auto;
}


.MetaInfoTitle {
    height: 30px;
    background-color: azure;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 1px 5px grey;
    font-size: 18px;
    line-height: 30px;
}

.MetaInfoTitle:hover {
    border:1px solid cyan;
    cursor: pointer;
}

.MetaInfoRow {
    height:0px;
    transition:all 1s;
    background-color: wheat;
    color:#00000000;
    margin:2px;
    transition:all 0.5s
}

.MetaInfoRow:Hover {
    background-color:#99fcff;
    color: #ff8000;
    cursor: pointer;
    
    /*
    height:20px;
    margin:1px
    */
}

.MetaInfoRow.Selected {
    background-color:#12fc90;
    color: #ff8000;
    height:30px;
}

.MetaInfoRow.Expand {
    height:30px;
    color:#000000ff;
}

.MetaInfoContent {
    line-height: 30px;
}

.ResultListInfoContainerArea{
    background-color: aliceblue;
    margin:10px
}

.LastRow{
    height:500px
}

.ResultListLeftAreaInner{
    
}