.MovieMainBody{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
}

.MovieLeftArea{
   
    width:65%;
    background-color: darkgoldenrod;
    padding: 20px;
}

.MovieRightArea {
    
    width:25%;
    background-color: wheat;
    padding: 20px;
    
}

.MovieTitle{
    font-size: 40px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin:10px;
}

.MovieRowTitle{
    font-size: 20px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin: 10px;
    font-weight: bolder;

}

.MovieRowContent{
    font-size: 20px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin:10px;
}

.MovieRowContainer{

}

.itemArea{
    margin: 10px;
    border:1px solid white;
    border-radius: 10px;
}

.itemRowContainer{
    display: flex;
    
}

.itemRowTitle{
    font-size: 16px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin: 10px;
    font-weight: bolder;

}

.itemRowContent{
    font-size: 16px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin:10px;

}

.MovieRowItemType{
    font-size: 18px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin: 10px;
    border-radius: 10px;
    background-color: burlywood;
    width: fit-content;
    padding: 10px;

}

.MovieActorListArea{
    border-top: 1px solid black;
    margin: 20px 10px 0px 10px;
    width: 40%;
}
.MovieActorRowContent{
    display: flex;
}

.MovieActorName{
    font-size: 20px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin:10px;

}

.MovieRoleName{
    font-size: 20px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin:10px;

}

.MovieStaffListArea{
    border-top: 1px solid black;
    margin: 20px 10px 0px 10px;
    width: 40%;
}

.MovieStaffRowContent{
    display: flex;
}

.MovieStaffName{
    font-size: 20px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin:10px;

}

.MoviePositionName{
    font-size: 20px;
    font-family: "Microsoft JhengHei";
    text-align: left;
    margin:10px;

}