.EventContainer{
    margin-top: 20px;
    width: 80%;
    background-color: rgba(112, 128, 144, 0.8);
    /*padding: 50px;*/
}

.CellTitleContainer.mousehover{
    position: absolute;
    width:80%;
    height:60px;
    z-index: 100;
}

.CellTitleContainer {
    transition: all 0.5s linear;
}

.CellTitleContainer.nothover{
    position: absolute;
    width:80%;
    height:60px;
    background-image: linear-gradient(to right,rgb(0, 0, 0),#00000000) ;
    opacity: 0.8;
    z-index: 100;
}

.EventTitle {
    color: white;
    height:60px;
    font-size: 60px;
    line-height: 50px;
    text-align: left;
    font-family:'Microsoft JhengHei';
    padding:25px 20px 0px 20px;
}

.CellSubTitle{
    color: rgb(147, 239, 255);
    height: 40px;
    font-size: 30px;
    text-align: left;
    font-family: 'Microsoft JhengHei';
    /* padding: 20px; */
    position: absolute;
    /* bottom: 0px; */
    /* right: 0px; */
    top: 80px;
    left: 100px;
}

.CellImageContainer{
    height: 300px;

}

.CellTextBlock{
    position: absolute;
    width: 90%;
    height: 80px;
    /* top: 100px; */
    /* left: 50px; */
    bottom: 10px;
    right: 10px;
    color: white;
    overflow: hidden;
}

.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
    text-align: justify;
    font-family:'Microsoft JhengHei';
    color: white;
    font-size: 20px;
    margin: 20px;
  }
  .Cell-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .Cell-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: rgba(112, 128, 144, 0.8);
  }

  .JumpToDetailButton{
    float: right;
    width:100px;
    height:50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(62, 76, 90);
    border-radius: 5px;
    font-family:'Microsoft JhengHei';
    text-align: center;
    transition: background-color 0.1s linear;
    margin:20px
  }

  .JumpToDetailButton:hover{
    background-color: rgb(132, 196, 255);
    cursor: pointer;
  }