.HomeBody{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.GridContainer {
    width: 100%;
    height: 600px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.GridLeftArrow{
    height: 600px;
    width: 17.5%;
    display: table;
    position: absolute;
    top: 170px;
    left: 0px;
    background: #000000ad;
    z-index: 100;  
    transition: all 0.5s;
}

.GridLeftArrow:hover{
    background: #bede07;
}

.GridRightArrow{
    height: 600px;
    width: 17.5%;
    display: table;
    position: absolute;
    top: 170px;
    right: 0px;
    background-color: #000000ad;
    z-index: 100;
    transition: all 0.5s;
}

.GridRightArrow:hover{
    background: #bede07;
}


.GridCenterBody{
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-bottom: 300px
}

.GridArrowMiddleLevel{
    display: table-cell;
    vertical-align: middle;
    color: #bede07;
}

.GridArrowMiddleLevel:hover{
    display: table-cell;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.PrefixEmptyCell{
    width: 400px;
    height:600px;
    position: absolute;
    background: black;
    top:0px;
    left:0px;
    box-shadow: white 0px 0px 0px 1px
}

.SuffixEmptyCell{
    width: 400px;
    height:600px;
    position: absolute;
    background: black;
    box-shadow: white 0px 0px 0px 1px
}
