.chatChannel{
    width:250px;
    height: 350px;
    background: seashell;
    position: fixed;
    z-index: 102;
    right: 20px;
    bottom: 70px;
    border: 1px solid;
    border-radius: 5px;
}

.chatChannelHeader{
    display: flex;
    border-bottom: 1px solid #d0d0d0;
    box-shadow: 0px 1px 5px grey;
}

.chatChannelLabel{
    font-family: Microsoft JhengHei;
    margin: 5px;
}

.chatChannelInput{
    position: absolute;
    bottom: 10px;
    width: 95%;
    margin: 3px;
}

.leftChatRow{
    width: 85%;
    display: inline-grid;
}

.rightChatRow{
    float: right;
    width: 85%;
    display: inline-grid;
}

.chatRowHeader{
    display: block;
}

.chatRowName{
    font-family: Microsoft JhengHei;
    margin: 5px 5px 0px 5px;
    font-size: 10px;
    float: left;
}

.chatRowTime{
    font-family: Microsoft JhengHei;
    float: right;
    font-size: 10px;
    color: #c776c0;
    margin: 5px 5px 0px 5px;
}

.leftChatMessage{
    border: 1px solid black;
    background-color: #d8a1d3;
    font-family: Microsoft JhengHei;
    font-size: 14px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    border-radius: 0px 10px 10px 10px;
}

.rightChatMessage{
    border: 1px solid black;
    background-color: #d8a1d3;
    font-family: Microsoft JhengHei;
    font-size: 14px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    border-radius: 10px 0px 10px 10px;
}

.chatRowContainer{
    overflow-y: scroll;
    height: 75%;
}

.chatRowBottom{
    width: 75%;
    height: 50px;
}

.chatChannelButton{
    margin: 5px 5px 0px 0px;
    color: #c776c0;
    line-height: 30px;
}

.chatChannelButton:hover{
    color:#d8a1d3;
    cursor: pointer;
}

.rightUpConrnerArea{
    display: flex;
    float: right;
    right: 5px;
    position: absolute;
}

.chatChannelCloseButton{
    margin: 5px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    line-height: 17px;
    /* text-align: center; */
    border-radius: 20px;
    background-color: #c776c0;
    color: white;
}

.leftAlign {
    text-align: left;
}

.queryTypeOption {
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.queryTypeOption:hover {
    background-color: rgb(106, 219, 253);
}

.queryTypeOptionChoosed {
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
} 
